{
  "extends": ["@charrue/typescript"],
  "rules": {
    "guard-for-in": "off",
    "no-plusplus": "off",
    "no-magic-numbers": "off",
    "no-restricted-syntax": "off",
    "no-prototype-builtins": "off",
    "no-param-reassign": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "globals": {
    "global": "readonly"
  }
}
